.view{
    display: none;

}

.view:target{
    display:block;
}

html{
  overflow-x: hidden;
}

body{
    background-color: #000000;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

header{
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    flex-direction: column;
    padding-bottom: .5rem;

    -webkit-box-shadow: -2px 16px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 16px 12px 6px rgba (0,0,0,0.75);
    box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.75);   
}

.logo{
    margin-left:.5rem;
    font-size: 2.5rem;
}

nav{
    margin-right:.5rem;
}

nav a {
    margin-left: .5rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(23, 23, 206);
}

.elart{
width: 100%;
height: 20rem;
display: flex;
justify-content: space-around;
margin-top: 3.5rem;
margin-bottom: 2rem;
}

.medio{
    width: 80%;
    height: 100%;
}

.pngs{
    width: 50%;
    height: 100%;
  }
  
  .png{
   width: 100%;
   height: 100%;
  }

.ima{
    width: 60%;
    height: 100%;
    margin: 0rem 0 2rem 5rem;
    border-bottom-left-radius: 12rem;
    border-top-right-radius: 12rem;   
}

.slider{
     width: 100%;
     height: 100%;
     margin: auto;
     animation:  slide 20s ease-in-out infinite alternate;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url(tarjeta1.jpg);   
     border-bottom-left-radius: 12rem;
    border-top-right-radius: 12rem; 
 }
 
 @keyframes slide{
     25%{
         background-image: url(madre.jpg);   
     }
     50%{
         background-image: url(madre1.jpg);       
     }
     75%{
         background-image: url(proce.png);       
     }
     100%{
         background-image: url(proce1.jpg);        
     }
 }

/*-----------------------*/

.cont{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.content {
    width: 50%;
    height: 5.5rem;
	position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    bottom: 2rem;

}

.content h2 {
    position: absolute;
	font-size: 5.5rem;
    margin-left: auto;
    margin-right: auto;
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #2d1791;
}

.content h2:nth-child(2) {
	color: #2d1791;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

    
/*------------------*/
.alltarg{
    width: 70%;
    height: 80vh;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;  
}

.Cards{
    width: 30%;
    height: 75%;
    background-color: rgb(221, 221, 221);
    text-align: center;
    margin-left: 1rem;
    
    -webkit-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
    box-shadow: 18px 18px 5px -11px rgba(151, 151, 151, 0.75);
}

.imas{
    width: 100%;
    height: 60%;
}

.imgs{
    width: 100%;
    height: 100%;
}

.descr{
    font-size: 1.8rem;
    font-weight: bold;
}

.rico{
    font-size: 1.1rem;
}

.divP p a{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(23, 23, 206);
}

/*-----------------NOSOTROS--------------------------*/

.ubica{
    font-size: 2rem;
    text-align: center;
}

.no{
    width: 100%;
    height: 21rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.so{
 width: 20%;
 height: 15rem;
 background-color: rgb(116, 38, 103);
 border-radius: 10px;

 -webkit-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
 -moz-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
 box-shadow: 18px 18px 5px -11px rgba(151, 151, 151, 0.75);
}

.hi{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tro{
 width: 100%;
 height: 50%;
}

.out{
 width: 60%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.sp{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mapa{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}


/*---------PROCESADOR---------------------------------------------*/
.tar{
    display: block;
    margin-top: 5rem;
    height: 15rem;
}

.gallery {
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 18rem;
    padding-top: 3px;    
    margin-bottom: 7rem;  
  }
  
  .gallery-cell {
    width: 55%;
    border-radius: 10px;
    margin-right: 10px;
    border: solid 2px rgb(117, 117, 117);  
  }

  
  .end-img{
      width: 100%;
      height: 40%;
      border-bottom: solid 2px black;
  }

  .img-end{
      width: 100%;
      height: 100%;
      border-radius: 10px;
  }

  .end-tex{
      width: 80%;
      height:30%;
      margin-left: auto;
      margin-right: auto;
      color: #ffff;
  }

  .end-p{
    width: 80%;
      height:30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: .2rem;
      color: #ffff;
  }

 span{
     font-weight: bold;
 }

.F{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
/*------------------------------------------*/

  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    background-size: cover;
    content: "";
    width: 100%;
    height: 50%;
    /*-background-image: url(camisa3.jpg);-*/
    background-repeat: no-repeat;
    line-height: 200px;
    font-size: 80px;
    color: rgb(0, 0, 0);
  }

  .textico{
      background-color: blueviolet;
  }

  .flickity-page-dots{
      opacity: 0;
      background-color: rgb(53, 53, 53);
  }

/*-----------------------------------------------------*/
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(53, 53, 53);
    text-align: center;
}


@media screen and (max-width:670px) {

    body{
        min-height: 100vh;
    }

    header{
        height: 3.5rem;
        flex-direction: column;
    }

    .logo{
        font-size: 2rem;
    }

    .pngs{
        display: none;
    }

    .elart{
        margin-top: 0;
        height:75vh ;
        margin-bottom: 0;
        background-color: #000000;
    }

    .medio{
        width: 100%;
        height: 100%;
        background-color: forestgreen;
        margin-bottom: 0;
    }

    .ima{
        width: 100%;
        height: 100%;
        margin: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0; 
    }

    .slider{
        border-bottom-left-radius: 0;
        border-top-right-radius: 0; 
    }

    .alltarg{
        display: block;
        width: 80%;
        min-height: 20rem;
        margin: 2rem auto 0 auto;   
        overflow: auto;
    }

    .Cards{
        width: 80%;
        height: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        
        -webkit-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 18px 5px -11px rgba(0,0,0,0.75);
        box-shadow: 18px 18px 5px -11px rgba(151, 151, 151, 0.75);
    }
    
    .imas{
        width: 100%;
        height: 40%;
    }

    .cont{
        margin-top: 1rem;
    }

    .content{
        bottom: 1rem;
        margin-top: .5rem;
    }

    .content h2 {
    font-size: 3.5rem;
    
    
}


    .ocul{
        display: none;
    }

    .letrasAb{
        display: block;
        text-align: center;
        font-size: 1.5rem;
        color: rgb(23, 23, 206);
    }

    /*------------------------------------------*/

    .no{
    display: block;
    width: 90%;
    height: 25rem;  
    align-items: center;
    }

    .so{
        width: 50%;
        height: 70%;
        margin-left:auto;
        margin-right: auto;
        box-shadow: none;
        margin-bottom: 5px;
    }

    .mapa{
       display: none;
    }

    

    footer{
        background-color: #18181865;
    }
}